<div class="card">
    <div class="card-header"><%= user.email %></div>
    <div class="card-body">
        <%= user.created_at %>
    </div>
    <div class="card-footer">
        Confirmed? : <%= user.confirmed? %>
    </div>
</div>